* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
body .dark {
  background-color: #000000;
}

.CardRow {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
}

.show-more {
  display: block;
  margin: 0 auto;
  background-color: #796e6e;
}

button.dark {
  background-color: #8f8d8d;
}
button.light {
  background-color: #333333;
  color: #ffffff;
}

