* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.CardRow {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
}


.btn {
  margin-left: 10px;
  font-size: 18px;
  line-height: 30px;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  transition: 0.4s ease all;
  display: block;
  margin: 0 auto;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.05);
}
.btn.dark {
  background-color: #ffffff;
  
}
.btn.light {
  background-color: #333333;
  color: #ffffff;
}


