* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.CardRow {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
}

.btn.dark {
  background-color: var(--light-bg);
  
}
.btn.light {
  background-color: var(--dark-bg);
  color: var(--light-bg);
}

.header {
  width: 100%;
  background-color: #205e46;
  padding: 10px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}
.navList {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navList li {
  position: relative;
  list-style: none;
}
.navList li::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--bg-primery);
  transition: 0.4s ease all;
}

.navList li:hover:after {
  width: 100%;
}

.navList li a {
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: var(--bg-primery);
  text-decoration: none;
}

.activeLink {
  font-weight: bold;
  text-decoration: underline !important;
}



