.post {
  max-width: 18%;
  margin: 0 5px 15px;
  text-align: center;
  color: var(--color-text);
  border: 2px solid var(--color-primery);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postContent {
  margin: 15px;
}

.postInfo {
  border-top: 1px solid var(--color-primery);
  background-color: #f9f7f7;
  padding: 15px;
  line-height: 30px;
}

.userName {
  color: var(--color-accent);
}

.userName:hover {
  cursor: pointer;
  text-decoration: underline;
}

.link {
  text-decoration: none;
  color: var(--color-accent);
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.userDark {
  color: var(--color-background);
}

.postInfoDark {
  background-color: #dbdbdb;
}
