.postcard-component {
  margin: 25px;
  width: 300px;
  height: 680px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postcard-body {
  margin: 0px 15px;
}

.postcard-title {
  font-size: 30px;
}

.postcard-text {
  font-size: 24px;
}

.postcard-button {
  width: 100%;
  height: 80px;
  border: none;
  border-top: 1px solid grey;
  font-size: 24px;
  cursor: pointer;
}

.text-blue {
  color: blue;
}
