.App {
  display: block;
  margin-top: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 60px 50px;
  width: 1000px;
  height: 550px;
  background-color: #ffffff;
  border-radius: 30px;
}

.items__row {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
}



