.content {
  padding: 0px -15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content__item {
  width: 300px;
  min-height: 450px;
  margin: 0px 15px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.green-item {
  background-color: #276129;
  color: #fff;
  padding-bottom: 0;
}

.plan-name {
  display: flex;
}

.arrow {
  cursor: pointer;
}

.smile {
  height: 30px;
  margin: auto 20px auto 0px;
}

.green-item__img {
  width: 100%;
}

.price {
  font-size: 20px;
  font-weight: 800;
}
