.modal {
  padding: 10px;
  position: fixed;
  top: 33%;
  left: 33%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  transform: scale(0);
  transition: 0.4s;
  width: 600px;
  height: 350px;
  background-color: rgb(223, 219, 219);
  color: black;
}

.modal.active {
  transform: scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.modal-title {
  font-size: 30px;
}

.button-close {
  border: none;
  background-color: transparent;
  font-size: 40px;
  cursor: pointer;
}

.modal-body {
  border-bottom: 1px solid grey;
  font-size: 20px;
  text-align: left;
}

.modal-contacts {
  color: blue;
}

.button-close_bottom {
  margin-top: 10px;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5%;
  background-color: rgb(85, 82, 82);
  font-size: 24px;
  color: white;
  cursor: pointer;
}
