/* @import './index.css'; */

.App {
  height: 100%;
  margin: 0;
}

.title {
  text-align: center;
  color: var(--color-dark);
}

.subTitle {
  text-align: center;
  color: var(--color-dark);
}

.light {
  color: var(--color-light);
}

.headerList {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.headerListItem {
  margin: auto 20px auto 0;
  font-weight: bold;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: #ede0d4;
}

.activeLink {
  text-decoration: underline;
}
