.App, .App__white {
  text-align: center;
  width: 1170px;
  height: 100%;
  margin: auto;
  position: relative;
}

.App__black{
  background-color: #535050;
}

.btn {
  background-color: #000000;
  color: #ffffff;
  padding: 15px 35px;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.theme {
  position: absolute;
  left: 15px;
  top: 15px;
  background-color: #000000;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
