.App {
  text-align: center;
  height: 100vh;
}

.App__dark {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  /* height: 100vh; */
}
.App__light {
  /* height: 100vh; */
  text-align: center;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
}
