.App {
  height: 100%;
  margin: 0;
}

.title {
  text-align: center;
  color: var(--color-text);
}

.subTitle {
  text-align: center;
  color: var(--color-text);
}

.headerList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.headerListItem {
  margin: auto 20px auto 0;
  font-weight: bold;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: var(--color-background);
}

.activeLink {
  text-decoration: underline;
}
