.buttonShowMore {
  margin-bottom: 30px;
  margin-top: 23px;
  background-color: rgb(53, 57, 62);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid var(--borderColor);
  margin-bottom: 15.7rem;
}
