
.item-text {
    position: relative;
    padding-left: 30px;
    text-align: left;
}

.item-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height:20px;
    background: url('../../img/check.svg') center/cover no-repeat;
}

