
.item-text {
    margin-top: 15px;
    position: relative;
    padding-left: 30px;
    text-align: left;
    list-style-type: none;
}

.item-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height:20px;
    display: block;
    background-color: black;
    /* background-image: url('../../img/check.svg') center/cover no-repeat; */
    mask-image: url('../../img/check.svg');
    mask-size: cover;
    transition: 0.4s ease all;
}
.item-icon:hover {
    background-color: #2E6334;

}


