.btn {
  margin-left: 10px;
  font-size: 18px;
  line-height: 30px;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  transition: 0.4s ease all;
  display: block;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--bg-primery);
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.05);
}

.dark {
  background-color: var(--bg-primery);
  color: var(--bg-color);
}

.bottom {
  position: absolute;
  bottom: 1rem;
  left: 45%;
}


