* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}

.site-title {
  margin-top: 32px;
  margin-bottom: 32px;
  color: #1a2b49;
}

.form {
  max-width: 45%;
  margin-bottom: 40px;
  border: 2px solid #e8e9ec;
}

.data-items {
  margin: 24px 10px;
}
.data-item {
  padding: 16px 0;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
}

#currency {
  font-size: 16px;
}

.currency-name {
  font-size: 18px;
}

.salary {
  font-size: 16px;
}

.vacation {
  font-size: 16px;
}

.workdays {
  font-size: 16px;
}

#workday {
  font-size: 16px;
}

#workhour {
  font-size: 16px;
}

.result-title {
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  margin: 0 10px;
}
.result-items {
  margin: 24px 10px;
}

.result-item {
  font-size: 20px;
  margin-top: 8px;
}
