.postItem {
    position: relative;
    width: 17%;
    height: auto;
    margin-top: 20px;
    padding: 0 10px;
    padding-bottom: 60px;
    border: 1px solid #7e7b7b;
    border-radius: 10px;
    text-align: center;
}

.title{
    background-color: inherit;
    display: block;
    color: #7a7777;
}
.titleDark{
    color: var(--bg-color);
}

.postBody {
    margin-top: 20px;
    color: #383535;
    background-color: inherit;
}


.postAuthor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    color: blue;
    line-height: 50px;
    background-color: #aca6a6;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}
.postAuthor span {
    color: black;
}

.email-phone {
    margin-top: 20px;
    color: blue;
}

.calm {
    background-color: #c8e6c8;
}
.bright {
    background-color: #dd1cad;
}

.dashed {
    border:  3px dashed;
}
.none {
    border-style: none;
}

.dark {
    background-color: #f7eeee;
    color: #383535;
}




