.post-item {
    position: relative;
    width: 18%;
    height: auto;
    padding-bottom: 60px;
    background-color: #f7eeee;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;

}
h2.dark {
    color: #383535;
    background-color: inherit;
    display: block;
    border-radius: inherit;
}

.post-body.light {
    margin-top: 20px;
}
.post-body.dark {
    margin-top: 20px;
    color: #383535;
    background-color: inherit;
}


.post-author {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    color: blue;
    line-height: 50px;
    background-color: #aca6a6;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}
.post-author span {
    color: black;
}

.email-phone {
    margin-top: 20px;
    color: blue;
}