.CardRow {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
  }

@media (max-width: 1024px){
  .CardRow {
    justify-content: space-evenly;
  }
}