.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
h1 {
    text-align: center;
} 
.wrapper {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid grey;
    padding: 20px;
}

.item {
    margin-top: 20px;
}

.result-item {
    margin-top: 10px;
}
span {
    padding: 4px 2px 4px 8px;
}

.currency {
}
.current-carrency {
}
.time-info {
}
.result {
}