.component {
  margin: 25px auto;
  width: 70%;
  padding: 15px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

.component.dark {
  background-color: var(--themecolor-additional);
  color: var(--color-primary);
}

.component.light {
  background-color: var(--color-additional);
}

.comments {
  font-size: 26px;
}

.title {
  font-size: 26px;
}

.text {
  font-size: 20px;
}
