.card-item {
    position: relative;
    width: 33%;
    height: 450px;
    padding: 10px 25px;
    border-radius: 20px;
    box-shadow: 10px 5px 25px rgb(214, 211, 211);
}

.card-item.green {
    background-color: #2E6334;
}

