.article {
  max-width: 18%;
  margin: 0 5px 15px;
  text-align: center;
  color: var(--color-dark);
  border: 2px solid var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articleDark {
  color: var(--color-light);
  border: 2px solid var(--color-light);
}

.articleContent {
  margin: 15px;
}

.articleAuthor {
  border-top: 1px solid var(--color-light);
  padding: 15px 0px;
  background-color: rgb(245, 244, 244);
}

.dark {
  background-color: rgb(34, 34, 34);
}

.authorName {
  color: var(--color-blue);
}

.authorName:hover {
  cursor: pointer;
  text-decoration: underline;
}
