@import '../../index.css';

.article {
  max-width: 18%;
  margin: 0 5px 15px;
  text-align: center;
  color: var(--color-dark);
  border: 2px solid var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article_dark {
  color: var(--color-light);
  border: 2px solid var(--color-light);
}

.article__content {
  margin: 15px;
}

.article__author {
  border-top: 1px solid var(--color-light);
  padding: 15px 0px;
  background-color: rgb(245, 244, 244);
}

.dark {
  background-color: rgb(34, 34, 34);
}

.author-name {
  color: var(--color-blue);
}

.author-name:hover {
  cursor: pointer;
  text-decoration: underline;
}
