.form {
    width: 100%;
    margin: 0 15px;
    padding: 15px 0;
    border: 1px solid #bbb7b7;
    border-radius: 5px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
}
.input {
    border: 1px solid #bbb7b7;
    border-radius: 5px;
    width: 95%;
    margin: 15px auto 0;
    padding: 10px;
    font-size: 20px;
}