.list {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: var(--whiteColor);
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.usersList__dark {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 20px;
  background-color: var(--darkColor);
  color: var(--whiteColor);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card {
  border: 0.5px solid var(--borderColor);
  border-radius: 3px;
  width: 300px;
  /* height: 670px; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__dark {
  border: 0.5px solid var(--borderColor);
  border-radius: 3px;
  /* height: 670px; */
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__title {
  padding: 10px;
  margin: 0px;
}
.card__title__dark {
  padding: 10px;
  margin: 0px;
  color: white;
}
.card__body {
  padding: 0px 5px 0px 5px;
  margin: 0px;
  margin-bottom: 20px;
}
.card__author {
  padding-top: 30px;
  text-align: center;
  border-top: 1px solid var(--borderColor);
  /* height: 60px; */
  margin-bottom: 20px;
}
.card__author__dark {
  padding-top: 30px;
  text-align: center;
  border-top: 1px solid var(--borderColor);
  /* height: 60px; */
  margin-bottom: 20px;
  background-color: var(--darkColor);
  color: var(--whiteColor);
}

.card__button {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: var(--blueColor);
  /* text-decoration: underline; */
  cursor: pointer;
}
.post_details {
  /* display: block; */
  text-decoration: none;
  list-style: none;
  margin-bottom: 50px;
  padding-top: 50px;
  color: var(--blueColor);
  border-top: 1px solid var(--borderColor);
}
.buttonShowMore {
  margin-bottom: 30px;
  margin-top: 23px;
  background-color: rgb(53, 57, 62);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid var(--borderColor);
  margin-bottom: 15.7rem;
}
