.app {
  text-align: center;
  font-family: sans-serif;
}

.title {
  margin-top: 50px;
  font-size: 60px;
  color: red;
}

.form {
  text-align: center;
  margin: auto;
  width: 600px;
  background-color: rgb(235, 172, 165);
  padding: 20px;
}
