body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: rgb(27, 164, 189);
  --color-primary-hovered: rgb(3, 93, 109);
  --color-secondary: rgb(211, 23, 54);
  --color-secondary-hovered: rgb(88, 12, 24);
  --color-border: rgb(216, 214, 214);
}
