.overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  padding: 10px 30px;
  position: relative;
  z-index: 100;
  border-style: solid;
  border-width: 1px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 440px;
  height: 200px;
  border-radius: 5px;
  text-align: start;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.modal_dark {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.modal-actions {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.small {
  width: 200px;
  height: 100px;
}

.medium {
  width: 440px;
  height: 200px;
}

.large {
  width: 640px;
  height: 400px;
} 