.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  /* height: 400px; */
  width: 30vw;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal__content.active {
  transform: scale(1);
}
.modal__title {
  color: black;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.modal__body {
  color: black;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.modal_button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
