.item {
  text-align: center;
  width: 600px;
  padding: 20px;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  font-size: 24px;
  background-color: rgb(196, 231, 247);
}

.input {
  text-align: left;
  width: 20px;
  height: 20px;
}

.content {
  text-align: left;
}
