.TodoItem {
    display: flex;
    justify-content: space-between;
    padding: 8px 4px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 5px;
}
.TodoTitle {
    width: 60%;
    text-align-last: left;
}

.TodoItemBtns {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 30px;
    height: 30px;
    background-color: var(--primery-color);
    border:none;
    mask-size: cover;
    transform: 0.4s ease all;
    
}
.button:hover {
    background-color: var(--auxiliary-color);
    transform: scale(1.05);
    cursor: pointer;
}

.edit{
    mask-image: url('../../svg/pen.svg');
}
.editSave{
    mask-image: url('../../svg/save-changes.svg');
}

.delete{
    mask-image: url('../../svg/bin.svg');
}
