.save-more_card {
  margin-right: 10px;
  padding: 20px;
  width: 350px;
  height: 550px;
  text-align: left;
  border: none;
  border-radius: 5%;
  background-color: rgb(8, 102, 8);
  box-shadow: 1em 1em 20px rgba(122, 122, 122, 0.5);
}

.titlecard-green {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  text-align: left;
  color: white;
}

.titlecard-green_bold {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: left;
  color: white;
}

p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: left;
  line-height: 30px;
  color: white;
}

i {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  line-height: 25px;
  color: white;
}
