.button {
  background-color: #7f5539;
  color: #ede0d4;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  display: block;
  margin: 15px auto;
  font-family: var(--font-default);
  cursor: pointer;
}

.themeButton {
  margin: 0;
  background-color: #b08968;
  font-size: 14px;
  padding: 5px;
}

.modalButton {
  margin-left: 82%;
}
