.btn-monthly {
  width: 95%;
  margin: 0 auto;
  background-color: rgb(8, 102, 8);
  border: none;
  border-radius: 4%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
  color: white;
  cursor: pointer;
}
